<div class="game-layout">
    <!-- Row 1: Counters -->
    <div class="header-row">
        <div class="info-container">
        <div class="counter-box">Recycled Wastes: {{ roundedRecycledWaste }}</div>
        <div class="counter-box">Per Second: {{ recycledWastePerSecond }}</div>
        </div>
    </div>
  
    <!-- Row 2: Game Container -->
    <div id="game-container" class="game-container">
      <!-- Buttons inside the game-container -->
      <div class="building-buttons">
        <button
          nz-button
          nzType="primary"
          [disabled]="!canAfford(netsmall)"
          [style.backgroundColor]="canAfford(netsmall) ? '#4caf50' : '#d9d9d9'"
          [style.color]="canAfford(netsmall) ? 'white' : '#8c8c8c'"
          (click)="buyBuilding(netsmall)"
        >
          Buy Net - Cost: {{ netsmall.cost }}
        </button>
        <button
          nz-button
          nzType="primary"
          [disabled]="!canAfford(netbig)"
          [style.backgroundColor]="canAfford(netbig) ? '#4caf50' : '#d9d9d9'"
          [style.color]="canAfford(netbig) ? 'white' : '#8c8c8c'"
          (click)="buyBuilding(netbig)"
        >
          Buy Bigger Net - Cost: {{ netbig.cost }}
        </button>
        <button
          nz-button
          nzType="primary"
          [disabled]="!canAfford(recyclingFactory)"
          [style.backgroundColor]="canAfford(recyclingFactory) ? '#4caf50' : '#d9d9d9'"
          [style.color]="canAfford(recyclingFactory) ? 'white' : '#8c8c8c'"
          (click)="buyBuilding(recyclingFactory)"
        >
          Buy recyclingFactory - Cost: {{ recyclingFactory.cost }}
        </button>
        <button (click)="toggleChaosMode()">Toggle Chaos Mode</button>
      </div>
    </div>
  </div>
  