<div>
  <h1>Credits</h1>
  <p>Projet réalisé dans le cadre de la Nuit de l'Info 2024 se déroulant du 5 au 6 décembre</p>
  <p>Cette année, l'association <a href="https://www.raceforwater.org/en/" target="_blank">Race for Water</a> est à l'honneur : <em>A foundation to preserve water</em></p>
  
  <h2>4 Kobolds</h2>
  <ul class="credits-list">
    <li>
        <img src="/assets/siteui/water128p.svg" alt="logo">
        Guillaume KELLER
    </li>
    <li>
        <img src="/assets/siteui/water128p.svg" alt="logo">
        Lucie NAFFIEN
    </li>
    <li>
        <img src="/assets/siteui/water128p.svg" alt="logo">
        Maxence BOUSQUET-LUCAS
    </li>
    <li>
        <img src="/assets/siteui/water128p.svg" alt="logo">
        Quentin HEILMANN
    </li>
  </ul>
  
  <div class="footer">
    <p>&copy; 4 Kobolds, Tous droits réservés.</p>
  </div>
</div>